node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

# ios
build/
xcuserdata/
DerivedData
project.xcworkspace
ios/Pods/

# android
build/
.gradle/
.idea/
local.properties
*.iml

# package-lock
package-lock.json
